@charset "UTF-8";
.alert {
    padding: 1.2em 1.25rem 1.2em 3.5em;
    position: relative;
}
.alert:before {
    font-family: "FontAwesome";
    font-size: 22px;
    width: 1em;
    text-align: center;
    position: absolute;
    left: 10px;
    top: 10px;
    -webkit-animation: snake 5s 2s infinite;
    animation: snake 5s 2s infinite;
}
.alert.alert-primary:before {
    content: "\f0a2";
}
.alert.alert-success:before {
    content: "\f087";
}
.alert.alert-info:before {
    content: "\f06a";
}
.alert.alert-warning:before {
    content: "\f071";
}
.alert.alert-danger:before {
    content: "\f057";
}
.bg-primary {
    color: #ffffff;
    background-color: #d83030 !important;
}
.bg-secondary {
    color: #ffffff;
    background-color: #feb31d !important;
}
.bg-info {
    color: #ffffff;
    background-color: #56c0e5 !important;
}
.bg-success {
    color: #ffffff;
    background-color: #9cd469 !important;
}
.bg-warning {
    color: #755601;
    background-color: #fccb54 !important;
}
.bg-danger {
    color: #ffffff;
    background-color: #e55868 !important;
}
.border-primary {
    border-color: #d83030 !important;
}
.border-secondary {
    border-color: #feb31d !important;
}
.border-success {
    border-color: #9cd469 !important;
}
.border-danger {
    border-color: #e55868 !important;
}
.border-warning {
    border-color: #fccb54 !important;
}
.border-info {
    border-color: #56c0e5 !important;
}
.btn {
    cursor: default;
}
.btn.focus,
.btn:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.btn-primary {
    color: #ffffff;
    background-color: #d83030;
    border-color: #d83030;
}
.btn.btn-primary:hover {
    background-color: #d83030;
    border-color: #d83030;
}
.btn.btn-primary.active,
.btn.btn-primary:active {
    background-color: #d83030;
    border-color: #d83030;
}
.btn.btn-secondary {
    color: #ffffff;
    background-color: #feb31d;
    border-color: #feb31d;
}
.btn.btn-secondary:hover {
    background-color: #feaa04;
    border-color: #feaa04;
}
.btn.btn-secondary.active,
.btn.btn-secondary:active {
    background-color: #feaa04;
    border-color: #feaa04;
}
.btn.btn-info {
    color: #ffffff;
    background-color: #56c0e5;
    border-color: #56c0e5;
}
.btn.btn-info:hover {
    background-color: #2ab0de;
    border-color: #2ab0de;
}
.btn.btn-info.active,
.btn.btn-info:active {
    background-color: #40b8e2;
    border-color: #40b8e2;
}
.btn.btn-success {
    color: #ffffff;
    background-color: #9cd469;
    border-color: #9cd469;
}
.btn.btn-success:hover {
    background-color: #8fce55;
    border-color: #8fce55;
}
.btn.btn-success.active,
.btn.btn-success:active {
    background-color: #8fce55;
    border-color: #8fce55;
}
.btn.btn-warning {
    color: #ffffff;
    background-color: #fccb54;
    border-color: #fccb54;
}
.btn.btn-warning:hover {
    background-color: #fcc33b;
    border-color: #fcc33b;
}
.btn.btn-warning.active,
.btn.btn-warning:active {
    background-color: #fcc33b;
    border-color: #fcc33b;
}
.btn.btn-danger {
    color: #ffffff;
    background-color: #e55868;
    border-color: #e55868;
}
.btn.btn-danger:hover {
    background-color: #e24254;
    border-color: #e24254;
}
.btn.btn-danger.active,
.btn.btn-danger:active {
    background-color: #e24254;
    border-color: #e24254;
}
.btn.btn-default {
    color: #676767;
    background-color: #dedede;
    border-color: #dedede;
}
.btn.btn-default:hover {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}
.btn.btn-default.active,
.btn.btn-default:active {
    background-color: #d1d1d1;
    border-color: #d1d1d1;
}
button.focus,
button:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.card {
    margin-bottom: 1em;
    border: none;
}
.card .card-header {
    font-weight: 500;
    text-transform: uppercase;
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
}
.card .card-title {
    font-weight: 500;
}
.card.card-primary .card-header {
    color: #ffffff;
    background-color: #d83030;
}
.card.card-secondary .card-header {
    color: #ffffff;
    background-color: #feb31d;
}
.card.card-info .card-header {
    color: #ffffff;
    background-color: #56c0e5;
}
.card.card-success .card-header {
    color: #ffffff;
    background-color: #9cd469;
}
.card.card-danger .card-header {
    color: #ffffff;
    background-color: #e55868;
}
.card.card-warning .card-header {
    color: #ffffff;
    background-color: #fccb54;
}
.dropdown .dropdown-menu {
    padding: 0;
    border: 1px solid #dedede;
    border-radius: 0;
    overflow: hidden;
}
.dropdown .dropdown-menu .dropdown-item {
    width: -webkit-fill-available;
}
.dropdown .dropdown-menu .dropdown-item:focus {
    color: #fff;
    background-color: #d83030;
}
.dropdown .dropdown-menu .dropdown-item:hover {
    color: #fff;
    background-color: #d83030;
}
.dropdown .dropdown-menu.dropdown-menu-right {
    left: unset !important;
}
.dropdown .dropdown-toggle:after {
    content: "\f107";
    font-family: "FontAwesome";
    border: none;
    vertical-align: top;
    display: inline;
    margin-left: 10px;
}
.dropdown.hover:hover > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    overflow: hidden;
}
.form-group label:not(.error) {
    font-weight: 500;
}
.form-group label:not(.error) span.required {
    color: #e00000;
}
.form-group .form-control {
    padding: 0.8rem 0.8rem;
    border-radius: 2px;
    border-color: #dedede;
    background-color: #fdfdfd;
}
.form-group .form-control:disabled,
.form-group .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
}
.form-group .form-control.valid {
    border-color: #9cd469 !important;
}
.form-group .form-control.error {
    border-color: #e55868 !important;
}
.form-group .input-group .input-group-addon {
    padding: 0.8rem 0.8rem;
    background-color: #fff;
    border-radius: 0;
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dedede;
    color: #dc8585;
}
.form-group .input-group .input-group-addon:first-child {
    border-right: 0;
}
.form-group .input-group .input-group-addon:last-child {
    border-left: 0;
}
.form-group .input-group .input-group-addon.addon-primary {
    color: #fff;
    background-color: #d83030;
    border-color: #d83030;
}
.form-group .input-group .input-group-addon.addon-info {
    color: #fff;
    background-color: #56c0e5;
    border-color: #56c0e5;
}
.form-group .input-group .input-group-addon.addon-success {
    color: #fff;
    background-color: #9cd469;
    border-color: #9cd469;
}
.form-group .input-group .input-group-addon.addon-danger {
    color: #fff;
    background-color: #e55868;
    border-color: #e55868;
}
.form-group .input-group .input-group-addon.addon-warning {
    color: #fff;
    background-color: #fccb54;
    border-color: #fccb54;
}
.form-group .input-group .input-group-btn {
    z-index: 4;
}
.form-group .input-group .input-group-btn .btn {
    padding: 0.8rem 0.8rem;
}
.form-group .input-group .form-control {
    border-width: 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #dedede;
    padding-left: 1rem;
    padding-right: 1rem;
}
.form-group .input-group .form-control:first-child {
    border-right: 0;
}
.form-group .input-group .form-control:last-child {
    border-left: 0;
}
.form-group .input-group .form-control:nth-child(2):not(:last-child) {
    border-left: 0;
    border-right: 0;
}
.form-group .help-block {
    color: #999999;
    display: block;
}
.form-group.has-error {
    color: #e00000;
}
.form-group.has-error .help-block {
    color: #e00000;
    font-style: italic;
}
.form-group.has-error .form-control {
    border-color: #e00000;
}
.error {
    color: #e00000;
}
.invalid-feedback {
    display: block;
}
.mark {
    padding: 5px;
    line-height: 1.5;
    text-align: center;
    border-radius: 3px;
}
.mark.mark-block {
    display: block;
}
.mark.mark-primary {
    background-color: #d83030;
    color: #1f2d0d;
}
.mark.mark-primary {
    background-color: #feb31d;
    color: #4f3500;
}
.mark.mark-info {
    background-color: #56c0e5;
    color: #0f4b60;
}
.mark.mark-success {
    background-color: #9cd469;
    color: #375819;
}
.mark.mark-warning {
    background-color: #fccb54;
    color: #825d02;
}
.mark.mark-danger {
    background-color: #e55868;
    color: #620f19;
}
.mark.mark-dark {
    background-color: #676767;
    color: #010101;
}
.mark.mark-light {
    background-color: #f1f1f1;
    color: #8b8b8b;
}
.mark.mark-gray {
    background-color: #dedede;
    color: #787878;
}
.mark.mark-white {
    background-color: #fff;
    color: #999999;
}
.modal .modal-dialog .modal-content {
    overflow: hidden;
    border: none;
    -webkit-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}
.modal .modal-dialog .modal-content .modal-header {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
    text-transform: uppercase;
    font-size: 1.1rem;
}
.modal.modal-primary .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #d83030;
}
.modal.modal-secondary .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #feb31d;
}
.modal.modal-info .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #56c0e5;
}
.modal.modal-success .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #9cd469;
}
.modal.modal-warning .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #fccb54;
}
.modal.modal-danger .modal-dialog .modal-content .modal-header {
    color: #fff;
    background-color: #e55868;
}
.pagination {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.pagination .page-item .page-link {
    display: block;
    border-radius: 3px;
    margin: auto 2.5px;
    padding: 1rem 1.5rem;
    border: 0;
    color: #676767;
    font-weight: 600;
    background-color: transparent;
}
.pagination .page-item.active .page-link,
.pagination .page-item:hover .page-link {
    background-color: #d83030;
    border-color: #d83030;
    color: #fff;
}
.pagination .page-item.disabled {
    display: none;
}
.table {
    border-collapse: separate;
    border-radius: 2px;
    border-spacing: 0;
    background-color: #fafafa;
}
.table .table-options {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.table .table-options > li {
    display: inline-block;
    margin-left: 10px;
}
.table .table-options > li:first-child {
    margin-left: 0;
}
.table .table-options > li > a,
.table .table-options > li button {
    color: #9fa8bc;
    font-size: 14px;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 1rem 0;
    display: inline-block;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.table .table-options > li > a > i,
.table .table-options > li button > i {
    line-height: 0;
}
.table .custom-checkbox {
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 1rem;
    min-height: 1.2rem;
}
.table .custom-checkbox .custom-control-indicator {
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 1px #fff;
    box-shadow: 0 0 0 1px #fff;
}
.table .custom-checkbox .custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #a4d267;
    -webkit-box-shadow: 0 0 0 1px #a4d267;
    box-shadow: 0 0 0 1px #a4d267;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    padding: 7px 8px;
    vertical-align: middle;
    white-space: nowrap;
}
.table > thead > tr > th {
    padding-top: 15px;
    padding-bottom: 15px;
}
.table.table-primary > tfoot > tr > th,
.table.table-primary > thead > tr > th {
    border-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    background-color: #d83030;
}
.nav .nav-item .nav-link {
    padding: 1.3rem 2rem;
    color: #d83030;
    border-bottom: 3px solid transparent;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-weight: 500;
}
.nav .nav-item .nav-link.active {
    background-color: #d83030;
    border-color: #d83030;
    color: #fff;
}
.nav .nav-item .nav-link:hover {
    border-color: #d83030;
}
.jQWCP-wWidget {
    height: 210px;
    min-width: 270px !important;
    background: rgba(140, 198, 64, 0.7);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 3px;
    border: none;
    z-index: 9999;
}
.jQWCP-wWidget .jQWCP-slider,
.jQWCP-wWidget .jQWCP-wPreviewBox {
    border: none;
    border-radius: 0px;
}
.dataTables_wrapper {
    padding-left: 0;
    padding-right: 0;
}
.dataTables_wrapper .dt-buttons.btn-group {
    float: left;
    width: unset;
}
.dataTables_wrapper .dt-buttons.btn-group .buttons-print {
    background-color: #fcfcfc;
    border-color: #d8d8d8;
    color: #2d2d2d;
    border-radius: 0;
}
.dataTables_wrapper .dt-buttons.btn-group .buttons-print:before {
    font-family: "FontAwesome";
    content: "\f02f";
    margin-right: 5px;
}
.dataTables_wrapper .dt-buttons.btn-group .buttons-excel {
    background-color: #efefef;
    border-color: #d8d8d8;
    color: #2d2d2d;
}
.dataTables_wrapper .dt-buttons.btn-group .buttons-excel:before {
    font-family: "FontAwesome";
    content: "\f1c3";
    margin-right: 5px;
}
.dataTables_wrapper .dt-buttons.btn-group .buttons-page-length {
    background-color: #fcfcfc;
    border-color: #d8d8d8;
    color: #2d2d2d;
    border-radius: 0;
}
.dataTables_wrapper .dataTables_info {
    display: none;
}
.dataTables_wrapper .dataTables_paginate {
    float: right;
    margin-top: 5px !important;
}
@media (max-width: 1199px) {
    div.dataTables_wrapper div.dataTables_info,
    div.dataTables_wrapper div.dataTables_length,
    div.dataTables_wrapper div.dataTables_paginate {
        text-align: left;
    }
    div.dataTables_wrapper div.dataTables_filter {
        text-align: right;
    }
}
.dataTable thead th.no-sort {
    padding-right: 0 !important;
}
.dataTable thead th.no-sort:after,
.dataTable thead th.no-sort:before {
    display: none;
}
.btn-primary.active,
.btn-primary:active,
.show > .btn-primary.dropdown-toggle {
    background-color: #d83030;
    background-image: none;
    border-color: #d83030;
}
.custom-datetimepicker .datepicker {
    min-width: 21em;
}
.custom-datetimepicker .ui-datepicker-trigger {
    margin-left: -36px;
    height: 32px;
    width: 35px;
    padding: 5px;
    background-color: #f9fafb;
    border-left: 1px solid #d3d7e0;
    cursor: pointer;
}
.ui-widget.ui-widget-content {
    border: 1px solid #d3d7e0;
    border-radius: 2px;
    padding: 5px;
    width: unset;
}
.ui-widget.ui-widget-content .ui-datepicker-header {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 8px;
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all {
    font-family: "FontAwesome";
    position: absolute;
    top: 11px;
    text-align: center;
    color: #d3d3d3;
    font-weight: 400 !important;
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all:hover {
    border: none;
    background-color: transparent;
    color: #c6c6c6;
    font-weight: 400 !important;
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-corner-all .ui-icon {
    background-image: none;
    display: none;
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-prev:before {
    content: "\f053";
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-title {
    color: #d83030;
}
.ui-widget.ui-widget-content .ui-datepicker-header .ui-datepicker-next:before {
    content: "\f054";
}
.ui-widget.ui-widget-content .ui-datepicker-calendar thead tr th span {
    font-weight: 600;
    color: #909090;
    text-transform: uppercase;
}
.ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-default {
    border: none;
    color: #696c74;
    background-color: #f7f8f9;
    padding: 5px 10px;
}
.ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-active,
.ui-widget.ui-widget-content .ui-datepicker-calendar tbody tr td a.ui-state-highlight {
    background-color: #d83030;
    color: #ffffff;
}
.owl-carousel .owl-nav > div {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: 0 0 5px 0 #cbcbcb;
    box-shadow: 0 0 5px 0 #cbcbcb;
    opacity: 0.3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.owl-carousel .owl-nav > div:hover {
    background-color: rgba(255, 255, 255, 0.8);
}
.owl-carousel .owl-nav > div.disabled {
    color: #dedede;
}
.owl-carousel .owl-nav .owl-prev {
    left: -15px;
    padding: 10px 7px;
}
.owl-carousel .owl-nav .owl-next {
    right: -15px;
    padding: 10px 10px;
}
.owl-carousel:hover .owl-nav > div {
    opacity: 1;
}
.selectize-input {
    border: 1px solid #d3d7e0;
    border-radius: 2px;
    background-color: #fdfdfe;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.selectize-input.focus,
.selectize-input:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px;
}
.selectize-input > div.item {
    background-color: #56c0e5 !important;
    color: #fff !important;
    border-radius: 2px;
    font-size: 1rem;
    padding: 0.5em 1em !important;
}
.selectize-input > div.item .remove {
    border-left: 0 !important;
}
.note-editor.note-frame {
    border: none;
    border-radius: 2px;
    overflow: visible;
}
.note-editor.note-frame .note-toolbar.card-header {
    padding: 13px;
    padding-top: 8px;
    background-color: #ededed;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    text-transform: unset;
}
.note-editor.note-frame .note-toolbar.card-header .note-btn {
    font-size: 12px;
}
.note-editor.note-frame .note-editing-area {
    padding: 10px;
}
.swal-modal {
    width: 420px;
}
.swal-modal .swal-title {
    font-size: 16px;
}
.swal-modal .swal-text {
    font-size: 14px;
}
.swal-modal .swal-button {
    font-size: 14px;
    padding: 0.5em 2em;
    border-radius: 5px;
}
.swal2-popup .swal2-styled:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.toast-bottom-right {
    bottom: 5px;
}
#toast-container > div {
    -webkit-box-shadow: 0 0 3px #9d9d9d !important;
    box-shadow: 0 0 3px #9d9d9d !important;
    opacity: 0.95;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
    filter: alpha(opacity=95);
}
.xzoom-preview {
    z-index: 99;
}
.col-5-inline,
.col-7-inline,
.col-8-inline,
.col-9-inline,
.col-10-inline,
.col-40-percent,
.col-60-percent,
.col-80-percent,
.col-lg-5-inline,
.col-lg-7-inline,
.col-lg-8-inline,
.col-lg-9-inline,
.col-lg-10-inline,
.col-lg-40-percent,
.col-lg-60-percent,
.col-lg-80-percent,
.col-md-5-inline,
.col-md-7-inline,
.col-md-8-inline,
.col-md-9-inline,
.col-md-10-inline,
.col-md-40-percent,
.col-md-60-percent,
.col-md-80-percent,
.col-sm-5-inline,
.col-sm-7-inline,
.col-sm-8-inline,
.col-sm-9-inline,
.col-sm-10-inline,
.col-sm-40-percent,
.col-sm-60-percent,
.col-sm-80-percent,
.col-xl-5-inline,
.col-xl-7-inline,
.col-xl-8-inline,
.col-xl-9-inline,
.col-xl-10-inline,
.col-xl-40-percent,
.col-xl-60-percent,
.col-xl-80-percent {
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}
.col-80-percent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 80%;
    flex: 0 0 80%;
    max-width: 80%;
}
.col-60-percent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60%;
}
.col-40-percent {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
}
.col-5-inline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.col-7-inline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 14.2857%;
    flex: 0 0 14.2857%;
    max-width: 14.2857%;
}
.col-8-inline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}
.col-9-inline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 11.1111%;
    flex: 0 0 11.1111%;
    max-width: 11.1111%;
}
.col-10-inline {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
}
@media (min-width: 576px) {
    .col-sm-80-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-sm-60-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-sm-40-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-sm-5-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-sm-7-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.2857%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    .col-sm-8-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .col-sm-9-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.1111%;
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    .col-sm-10-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
@media (min-width: 768px) {
    .col-md-80-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-md-60-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-md-40-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-md-5-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-md-7-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.2857%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    .col-md-8-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .col-md-9-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.1111%;
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    .col-md-10-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
@media (min-width: 992px) {
    .col-lg-80-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-lg-60-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-lg-40-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-lg-5-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-lg-7-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.2857%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    .col-lg-8-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .col-lg-9-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.1111%;
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    .col-lg-10-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
@media (min-width: 1200px) {
    .col-xl-80-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-xl-60-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
        flex: 0 0 60%;
        max-width: 60%;
    }
    .col-xl-40-percent {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
        flex: 0 0 40%;
        max-width: 40%;
    }
    .col-xl-5-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
    .col-xl-7-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 14.2857%;
        flex: 0 0 14.2857%;
        max-width: 14.2857%;
    }
    .col-xl-8-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 12.5%;
        flex: 0 0 12.5%;
        max-width: 12.5%;
    }
    .col-xl-9-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 11.1111%;
        flex: 0 0 11.1111%;
        max-width: 11.1111%;
    }
    .col-xl-10-inline {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 10%;
        flex: 0 0 10%;
        max-width: 10%;
    }
}
.custom-control {
    margin-right: 0;
    margin-bottom: 0;
}
.custom-control .custom-control-input:focus ~ .custom-control-indicator {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.custom-control .custom-control-input:checked ~ .custom-control-indicator {
    color: #fff;
    background-color: #d83030;
    -webkit-box-shadow: 0 0 0 1px rgba(216, 48, 48, 0.6);
    box-shadow: 0 0 0 1px rgba(216, 48, 48, 0.6);
}
.custom-control .custom-control-input:hover ~ .custom-control-indicator {
    color: #fff;
    background-color: #d83030;
    -webkit-box-shadow: 0 0 0 1px rgba(216, 48, 48, 0.6);
    box-shadow: 0 0 0 1px rgba(216, 48, 48, 0.6);
}
.custom-control .custom-control-input:active ~ .custom-control-indicator {
    -webkit-box-shadow: 0 0 0 10px rgba(216, 48, 48, 0.6);
    box-shadow: 0 0 0 10px rgba(216, 48, 48, 0.6);
}
.custom-control .custom-control-indicator {
    -webkit-box-shadow: 0 0 0 1px #dedede;
    box-shadow: 0 0 0 1px #dedede;
    border-radius: 1px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-control.custom-radio .custom-control-indicator {
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #dedede;
    box-shadow: 0 0 0 1px #dedede;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-select {
    padding: 0.7em 2em 0.7em 1em;
    border-radius: 2px;
    border-color: #d3d7e0;
    background-color: #fdfdfe;
}
select {
    height: unset !important;
}
.custom-ticker {
    padding: 0.8rem 1.5rem 0.8rem 3.3rem;
    border-radius: 2px;
    border: 1px solid #dedede;
    background-color: #fdfdfd;
}
.custom-ticker .custom-control-indicator {
    left: 1rem;
    top: 0.8rem;
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
}
.custom-ticker .custom-control-description {
    display: block;
    text-align: left;
}
.custom-image-upload {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    background-color: #fdfdfe;
    border: 1px solid #d3d7e0;
    border-radius: 2px;
    margin: auto;
    width: 15em;
    max-width: 100%;
    background-image: url(../images/custom-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 130px;
}
.custom-image-upload .img-preview {
    max-width: 100%;
    max-height: 15em;
    height: 100%;
    margin: auto;
    background-color: #fdfdfe;
    -o-object-fit: contain;
    object-fit: contain;
}
.custom-image-upload .custom-label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-image-upload .custom-label input {
    opacity: 0;
}
.custom-image-upload .remove-preview {
    border-radius: 100%;
    background-color: #fff;
    color: #56c0e5;
    padding: 0.2em;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 24px;
    border: 1px solid #d3d7e0;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.custom-image-upload .remove-preview:hover {
    background-color: #56c0e5;
    border-color: #56c0e5;
    color: #fff;
}
.custom-image-upload.custom-iu-sm {
    width: 15em;
    height: 15em;
}
.custom-image-upload.custom-iu-sm .img-preview {
    max-height: 15em;
}
.custom-image-upload.custom-iu-md {
    width: 22em;
    height: 22em;
}
.custom-image-upload.custom-iu-md .img-preview {
    max-height: 22em;
}
.custom-image-upload.custom-iu-lg {
    width: 28em;
}
.custom-image-upload.custom-iu-lg:before {
    content: "";
    padding: 50% 0;
    display: inline-block;
}
.custom-number button {
    background-color: #ffffff;
    border: 1px solid #dedede;
}
.custom-number button:hover {
    background-color: #eeeeee;
}
.custom-number .quantity-minus {
    border-right: none;
    border-radius: 2px 0 0 2px;
}
.custom-number .quantity-plus {
    border-left: none;
    border-radius: 0 2px 2px 0;
}
.custom-number input {
    border: 1px solid #d3d7e0;
    border-left: none;
    border-right: none;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    width: 5em;
}
.custom-toggle {
    display: unset;
}
.custom-toggle .toggle-checkbox {
    display: none;
}
.custom-toggle .toggle-checkbox:checked ~ .toggle-inner > .toggle-button {
    margin-left: 2em;
}
.custom-toggle .toggle-inner {
    width: 4em;
    height: 2em;
    background-color: #e1e1e1;
    -webkit-box-shadow: inset 1px 1px 5px 0px #848484;
    box-shadow: inset 1px 1px 5px 0px #848484;
    border-radius: 20px;
    padding: 0.2em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1em;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-toggle .toggle-inner .toggle-button {
    height: 1.6em;
    width: 1.6em;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.custom-toggle .toggle-text {
    margin-bottom: 0;
    font-weight: 400;
}
.custom-toggle.toggle-primary input.toggle-checkbox:checked ~ .toggle-inner {
    -webkit-box-shadow: inset 1px 1px 5px 0px #d83030;
    box-shadow: inset 1px 1px 5px 0px #d83030;
    background-color: #d83030;
}
.custom-toggle.toggle-success input.toggle-checkbox:checked ~ .toggle-inner {
    -webkit-box-shadow: inset 1px 1px 5px 0px #69a730;
    box-shadow: inset 1px 1px 5px 0px #69a730;
    background-color: #9cd469;
}
.custom-toggle.toggle-info input.toggle-checkbox:checked ~ .toggle-inner {
    -webkit-box-shadow: inset 1px 1px 5px 0px #1c90b9;
    box-shadow: inset 1px 1px 5px 0px #1c90b9;
    background-color: #56c0e5;
}
.custom-toggle.toggle-warning input.toggle-checkbox:checked ~ .toggle-inner {
    -webkit-box-shadow: inset 1px 1px 5px 0px #e6a404;
    box-shadow: inset 1px 1px 5px 0px #e6a404;
    background-color: #fccb54;
}
.custom-toggle.toggle-danger input.toggle-checkbox:checked ~ .toggle-inner {
    -webkit-box-shadow: inset 1px 1px 5px 0px #ba1d2f;
    box-shadow: inset 1px 1px 5px 0px #ba1d2f;
    background-color: #e55868;
}
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    cursor: default;
}
.rating > span {
    display: inline-block;
    position: relative;
}
.rating > span:before {
    content: "\f006";
    font-family: "FontAwesome";
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
    content: "\f005";
    font-family: "FontAwesome";
}
.scrollbar::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from(#d83030), to(#d83030), color-stop(0.6, #d83030));
    background-image: -moz-gradient(linear, 40% 0%, 75% 84%, from(#d83030), to(#d83030), color-stop(0.6, #d83030));
}
.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border-radius: 10px;
}
.scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: #f5f5f5;
}
@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
.fa-spin {
    -webkit-animation: fa-spin 0.5s infinite linear;
    animation: fa-spin 0.5s infinite linear;
}
.fa-spin.slow {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}
.sb {
    font-weight: 400 !important;
    font-style: normal !important;
    color: #000 !important;
}
.sb.sb-vnd:before {
    content: "đ";
    text-decoration: underline;
    text-transform: lowercase;
}
.sb.sb-usd:before {
    content: "$";
}
.lh-default {
    line-height: 1.5;
}
.lh-2 {
    line-height: 2;
}
.c-red {
    color: #e00000;
}
.fz-up-1 {
    font-size: 1.1rem;
}
.fz-up-2 {
    font-size: 1.2rem;
}
.fz-up-3 {
    font-size: 1.3rem;
}
.fz-up-4 {
    font-size: 1.4rem;
}
.fz-up-5 {
    font-size: 1.5rem;
}
.fz-down-1 {
    font-size: 0.9rem;
}
.fz-down-2 {
    font-size: 0.8rem;
}
.fz-down-3 {
    font-size: 0.7rem;
}
.fz-down-4 {
    font-size: 0.6rem;
}
.fz-down-5 {
    font-size: 0.5rem;
}
.white-space-unset {
    white-space: unset !important;
}
.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
article.content iframe,
article.content img {
    max-width: 100%;
}
article.content h1 {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
}
article.content h2 {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.5;
}
article.content h3 {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.5;
}
article.content h4 {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.5;
}
article.content h5 {
    font-size: 1.15rem;
    font-weight: 600;
    line-height: 1.5;
}
article.content h6 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
}
.order-1 {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
}
.order-2 {
    -ms-flex-order: 2;
    -webkit-box-ordinal-group: 3;
    order: 2;
}
.order-3 {
    -ms-flex-order: 3;
    -webkit-box-ordinal-group: 4;
    order: 3;
}
.order-4 {
    -ms-flex-order: 4;
    -webkit-box-ordinal-group: 5;
    order: 4;
}
.order-5 {
    -ms-flex-order: 5;
    -webkit-box-ordinal-group: 6;
    order: 5;
}
.order-6 {
    -ms-flex-order: 6;
    -webkit-box-ordinal-group: 7;
    order: 6;
}
@media (min-width: 576) {
    .order-sm-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .order-sm-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .order-sm-3 {
        -ms-flex-order: 3;
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .order-sm-4 {
        -ms-flex-order: 4;
        -webkit-box-ordinal-group: 5;
        order: 4;
    }
    .order-sm-5 {
        -ms-flex-order: 5;
        -webkit-box-ordinal-group: 6;
        order: 5;
    }
    .order-sm-6 {
        -ms-flex-order: 6;
        -webkit-box-ordinal-group: 7;
        order: 6;
    }
}
@media (min-width: 768px) {
    .order-md-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .order-md-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .order-md-3 {
        -ms-flex-order: 3;
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .order-md-4 {
        -ms-flex-order: 4;
        -webkit-box-ordinal-group: 5;
        order: 4;
    }
    .order-md-5 {
        -ms-flex-order: 5;
        -webkit-box-ordinal-group: 6;
        order: 5;
    }
    .order-md-6 {
        -ms-flex-order: 6;
        -webkit-box-ordinal-group: 7;
        order: 6;
    }
}
@media (min-width: 992px) {
    .order-lg-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .order-lg-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .order-lg-3 {
        -ms-flex-order: 3;
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .order-lg-4 {
        -ms-flex-order: 4;
        -webkit-box-ordinal-group: 5;
        order: 4;
    }
    .order-lg-5 {
        -ms-flex-order: 5;
        -webkit-box-ordinal-group: 6;
        order: 5;
    }
    .order-lg-6 {
        -ms-flex-order: 6;
        -webkit-box-ordinal-group: 7;
        order: 6;
    }
}
@media (min-width: 1200px) {
    .order-xl-1 {
        -ms-flex-order: 1;
        -webkit-box-ordinal-group: 2;
        order: 1;
    }
    .order-xl-2 {
        -ms-flex-order: 2;
        -webkit-box-ordinal-group: 3;
        order: 2;
    }
    .order-xl-3 {
        -ms-flex-order: 3;
        -webkit-box-ordinal-group: 4;
        order: 3;
    }
    .order-xl-4 {
        -ms-flex-order: 4;
        -webkit-box-ordinal-group: 5;
        order: 4;
    }
    .order-xl-5 {
        -ms-flex-order: 5;
        -webkit-box-ordinal-group: 6;
        order: 5;
    }
    .order-xl-6 {
        -ms-flex-order: 6;
        -webkit-box-ordinal-group: 7;
        order: 6;
    }
}
body,
html {
    overflow-x: hidden !important;
    padding: 0 !important;
    line-height: 1.5;
    font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    font-size: 13px;
}
a:focus,
a:hover {
    text-decoration: none;
}
.container {
    position: absolute;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
}
.container form {
    max-width: 500px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;
    padding: 2rem;
    background-color: #f5f5f5;
}
.container form .logo {
    text-align: center;
    padding: 2rem;
}
.container form .logo img {
    max-width: 200px;
}
.container form .form-group {
    margin-bottom: 1.5rem;
}
.container form .form-group .input-group .input-group-addon {
    border: 0;
}
.container form .form-group .form-control {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 13px;
    border: 0;
}
.container form .form-group .btn {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0;
    border-color: #d83030;
    background-color: #d83030;
    -webkit-box-shadow: inset 0px 0px 10px 2px #d83030;
    box-shadow: inset 0px 0px 10px 2px #d83030;
    text-shadow: 2px 2px 2px #d83030;
    cursor: pointer;
}
.container form .form-group .btn:hover {
    background-color: #d83030;
    border-color: #d83030;
    -webkit-box-shadow: inset 0px 0px 10px 2px #d83030;
    box-shadow: inset 0px 0px 10px 2px #d83030;
    text-shadow: 2px 2px 2px #d83030;
}
.container .copyright {
    display: block;
    text-align: center;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.7);
}
/*# sourceMappingURL=auth.css.map */
