section {
    background-color: #ffffff;
}

ul li {
    list-style-type: none;
}

a:active,
a:hover {
    outline: 0;
    text-decoration: none !important;
}

.hr {
    border-top: 1px solid #e7e7e7;
}

/* ========================================== Left ====================================== */
.wrap-left {
    padding-top: 42px;
    padding-bottom: 20px;
}

.content-left-title {
    padding: 15px 0;
    font-weight: bold;
    font-size: 16px;
}

/* ========== Category =========== */
.wrap-left .panel-group {
    margin: 0;
    padding-bottom: 10px;
}

.wrap-left .panel-group .panel {
    background-color: transparent;
    margin: 0;
    border: 0;
    box-shadow: initial;
}

.wrap-left .panel-group .panel-heading {
    padding: 0;
    border: 0;
    background-color: transparent;
}

.wrap-left .panel-group .panel-heading+.panel-collapse>.panel-body {
    border: 0;
    padding: 0 10px;
}

.wrap-left .panel-group .panel-heading .panel-title {
    position: relative;
    font-weight: bold;
    font-size: 14px;
    padding-bottom: 10px;
}
    
.panel-title::after {
     /* content: "\f107"; */
    content: "+";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome";
    font-size: 20px;
    font-weight: bold;
}
  
.panel-title[aria-expanded="true"]::after {
    /* content: "\f106"; */
    content: "-";
    font-size: 20px;
    font-weight: bold;
}

.panel-title-child {
    position: relative;
    font-weight: bold;
    font-size: 14px;
}

.panel-group .panel-title-child::after {
    content: "\f107";
    color: #333;
    top: -2px;
    right: 0px;
    position: absolute;
    font-family: "FontAwesome";
}
 
.panel-group .panel-title-child[aria-expanded="true"]::after {
    content: "\f106";
}

.categroy ul li {
    padding-top: 5px;
}

.categroy ul li a {
    font-size: 13px;
    color: #a7a7a7;
}


/* ========== Brand =========== */
.wrap-brand {
    padding-bottom: 10px;
}

.label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: initial;
  }
  
  .label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 1px solid;
  }
  
  .label-container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .label-container input:checked ~ .checkmark {
    background-color: #ff4546;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .label-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .label-container .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* ========= Search price ========== */
.wrap-search-price {
    padding-bottom: 20px;
}

.form-search-price {
    display: flex;
    padding-bottom: 10px;
}

.price-max, 
.price-min {
    display: flex;
    background-color: #ffffff;
    border: 1px solid #a7a7a7;
    padding: 2px;
    border-radius: 4px;
    width: 45%;

}

.text-price {
    line-height: 25px;
}

.to-price {
    padding: 0 10px;
    line-height: 30px;
}

.text-price {
    padding: 0 3px;
}

.input-price input {
    width: 100%;
    background-color:transparent;
    height: 100%;
    border: 0;
}

.wrap-button button {
    border-radius: 0;
    width: 100%;
    padding: 8px 0;
    border: 1px solid #d5d5d5;
    background-color: #ebebeb;
}

/* ========== Search ============*/
.from-search {
    display: flex;
    border: 1px solid #d2d2d2;
    background-color: #ffffff;
    padding: 5px 5px;
}

.input-search {
    width: 100%;
}

.input-search input {
    width: 100%;
    border: 0;
}

.img-search {
    padding-right: 5px;
}

/* ==============================  Right =============================== */
#tabs {
    border: 0 !important;
    padding: 0!important;
}

.header-option {
    background: #f8f8f8;
    width: 100%;
    display: inline-block;
}

.mode-option-list {
    float: right;
    display: block;
    background: transparent;
    border: 0;
}

.header-option .mode-option-list li {
    border: 0;
    background: transparent;
}

.nav-pills-custom {
    float: left;
    display: block;
}

/* ================== List ============= */
.item-mode-list {
    padding: 20px 0;
    border-bottom: 1px solid #dedede;
}


.detail-list {
    display: flex;
}

.phar1-list {
    display: flex;
}

.dircet-method {
    font-size: 10px;
    padding: 5px;
    margin: 2px;
    border-radius: 10px;
}

.direct-delivery {
    background-color: #60a5ff;
}

.regular-delivery {
    background-color: #35c75a;
}

.dircet-method a {
    color: #ffffff;
}

.phar2-list {
    font-size: 13px;
    color: #121212;
    font-weight: 400;
}
c  

.phar3-list {
    color: #a7a7a7;
    font-size: 13px;
}

.phar {
    padding: 10px 0;
}

.wrap-review-list {
    text-align: center;
}

.wrap-review-list .wrap-content-view {
    font-size: 10px;
    border: 1px solid #a7a7a7;
    padding: 5px;
}

.wrap-content-view .reivew-list {
    color: #a7a7a7;
}

.wrap-content-view .product-list {
    font-weight: 800;
}

.wrap-item-list .wrap-col5-list {
    padding-right: 0;
}

.wrap-right-list {
    display: flex;
    float: right;
}

.wrap-price-list {
    padding: 65px 20px ;
}

.wrap-heart-list {
    padding: 80px 20px;
}

.wrap-buy-price-list {
    padding: 0 0 0 20px;
}

.cart-list,
.buy-list,
.set-count-product-list {
    padding-top: 15px;
}

.cart-list {
    padding-top: 0;
}

.cart-list button{
    color: #ff3333;
    border: 1px solid #ff3333;
    background-color: #fff;
    width: 120px;
    padding: 10px 10px;
}

.buy-list button {
    color: #fff;
    background-color: #ff3333;
    border: 1px solid #ff3333;
    width: 120px;
    padding: 10px 10px;
}

.set-count-product-list {
    display: flex;
}

.set-count-product-list input {
    width: 75px;
    padding: 5px;
    margin-right: 5px;
}

.set-count-product-list button {
    width: 40px;
}

.list-content-title {
    margin: 0;
    padding-bottom: 10px;
}


.list-wrap-tabs ul li a {
    line-height: 58px;
    color: #888888;
    font-size: 16px;
    font-weight: 400;
}

.list-wrap-tabs .nav-pills>li.active>a,
.list-wrap-tabs .nav-pills>li.active>a:focus, 
.list-wrap-tabs .nav-pills>li.active>a:hover {
    background-color: #ff3333;
    border-radius: 0;
}

.all_paging {
    display: block;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 60px;
}

.all_paging ul {
    width: auto;
    margin: 0 auto;
    display: inline-block;
}

.all_paging ul li {
    float: left;
    width: auto;
    display: inline-block;
}

.all_paging ul li a.active {
    color: #ff4546;
    font-weight: 800;
    background: none;
}

.all_paging ul li a {
    line-height: 30px;
    padding: 0 15px;
    color: #3d3d3d;
    font-size: 14px;
}

.all_paging ul .firstGo a {
    padding: 0 5px;
}

.all_paging ul .prevGo a {
    padding: 0 5px;
}

.all_paging ul .nextGo a {
    padding: 0 5px;
}

.all_paging ul .lastGo a {
    padding: 0 5px;
}
























